@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,500;0,600;1,400;1,600&display=swap");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../../fixtures/pic.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  backdrop-filter: blur(4px); 
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2em;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab-btn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #474e57;
  color: #fff;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 1em;
}

.tab-btn:not(.active):hover, .pauseBtn:hover {
  background-color: #292929;
}

.tab-btn.active {
  background-color: #292929;
}

.tab-content {
  display: none;
  padding: 20px;
  border-radius: 0 0 10px 10px;
  background-color: #ffffffd9;
}

.tab-content.active {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

li:hover {
  background-color: #d5d0d0;
}

li.active-song {
  background-color: #d5d0d0;
}

ul li.recently-played {
  background-color: #ffc107;
  color: #fff;
}

li:active {
  background-color:#8f7878
}

.playPauseButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 3px 0 10px;
  margin-bottom: 1em;
  border-radius: 5px;
}

.pauseBtn {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #474e57;
  color: #fff;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 6px;
}

h2 {
  color: #333;
}

#recentlyPlayedTab h2 {
  margin-bottom: 1em;
}